.card
{
    top:50px;
    margin:auto;
    width:50%;
}
.form-group
{
    color:#6f42c1;
}
.btn
{
    border: none;
    padding: 12px 40px;
    background-color:#6f42c1;
    color:white;

}